---
layout: default
title: "Keynotes"
---

<div class="row g-5 mb-5">
        <h3 class="fw-bold border-bottom pb-3 mb-1">Keynotes</h3>
        
        <div class="row g-3 mb-1">
            <ol>
              {% for item in site.data.publications %}
                {% if item.type == 'keynote' %}
                <div class="col-md-12">
                    <li><a id="{{item.id}}">{{item.id}}</a>
                        {%if item.doi%} [<a href="{{item.doi}}">doi</a>]{%endif%}
                        {%if item.pdf%} [<a href="{{site.url}}/publications/{{item.pdf}}">pdf</a>]{%endif%}
                        {%if item.pdf2%} [<a href="{{site.url}}/publications/{{item.pdf2}}">pdf</a>]{%endif%}
                        <p style="border-bottom:1px dashed #ccc;">
                            {% if item.url %} <a href="{{item.url}}"><strong>{{item.title}}</strong></a>
                            {% else %} <strong>{{item.title}}</strong>
                            {% endif %}
                            <br>
                            {{item.author}}<br>
                            <em style="color:#C00000;">{{item.pub}}</em>, 
                            {{item.other}} <br>
                            {%if item.if%} Impact Factor: {{item.if}}; <b>{{item.rank}}</b> {%endif%}
                        </p>
                    </li>
                </div>
                {% endif %}
              {% endfor %}
            </ol>
        </div>
    </div>
